<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ sourceIP }} foolish of you to give me this...</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body align=center class="bg" id="bg">
    <div class="button-container">
        <div>
            <button class="custom-btn" id="button" onclick="toggleDM()">
                Toggle Light/Dark Mode
            </button>
            <button class="custom-btn" id="button2" onclick="toggleChatBox()">
                Lookup IP
            </button>
            <input type="text" class="chatBox" id="chatBox">
            </input>
        </div>
    </div>
        <div class="flex-container container" id="container">
            <div>
                <h1>
                    You're such a fucking idiot
                </h1>
                <h2>
                    {{ sourceIP }}
                </h2>
                <div>
                    <p>
                        You're from {{ sourceCountry }}
                    </p>
                </div>
                <p>
                    Your ISP should be. {{ sourceISP }}, right?
                </p>
            </div>
        </div>
    </body>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</html>